@import '_example';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    // background-color: grey;
    background-image: url("../assets/space.jpg");
}
.AppDisplay {
    margin: 2.5rem;
    display: flex;
    flex-direction: row;
    // border: 1px solid black;
    min-height: 90vh;
    width: 95vw;
    background-color: purple;
    border-radius: 5px;
}

.Navbar {
    display: flex;
    justify-content: center;
    // border: 1px solid green;
    background-color: purple;
    border-radius: 5px;
    width: 5rem;
    .NavButtons {
        color: white;
        padding: 5px;
        size: 35;
    }
    .NavButtons:hover {
        background-color: rgba(158, 98, 190, 0.686);
    }
}

.Body {
    display: flex;
    flex-direction: row;
    // border: 1px solid blue;
    height: 90vh;
    width: 99vw;
    background-color: brown;
    border-radius: 5px;
}

.DisplayContainer {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    height: 90vh;
    border-radius: 5px;
}

.Graph {
    background-color: maroon;
    // display: flex;
    flex-grow: 1;
    border-radius: 5px;
    // display: grid;
    // grid-row: auto;
    color: white;
    margin: 1rem;
    height: 8vh;
    width: 90vw
}

#HomeButton {
    // height: 200%;
    // width: 200%
    // size: 35;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Display {
    border-radius: 5px;
}

// testing github account change