@import '_example';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
    background-image: url("https://media.discordapp.net/attachments/1086022677422153820/1125576700042948709/puggo_an_image_in_the_style_of_a_graphic_designer_of_four_infor_1227d67b-eec8-460a-8d0e-35c0a7c029bc.png?width=1138&height=1138");
}

.AppDisplay {
    margin: 2.5rem;
    display: flex;
    flex-direction: row;
    // border: 1px solid black;
    min-height: 90vh;
    width: 95vw;
    background-color: purple;
    border-radius: 5px;
}

.Navbar {
    display: flex;
    justify-content: center;
    // border: 1px solid green;
    background-color: purple;
    border-radius: 5px;
    width: 5rem;
    .NavButtons {
        color: white;
        padding: 5px;
        size: 35;
    }
    .NavButtons:hover {
        background-color: rgba(158, 98, 190, 0.686);
    }
}

.Body {
    display: flex;
    flex-direction: row;
    // border: 1px solid blue;
    height: 90vh;
    width: 99vw;
    background-color: rgb(60, 60, 60);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.DisplayContainer {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    height: 90vh;
    border-radius: 5px;
}

.Graph {
    // background-color: maroon;
    // display: flex;
    flex-grow: 1;
    border-radius: 5px;
    // display: grid;
    // grid-row: auto;
    color: white;
    margin: 1rem;
    height: 8vh;
    width: 90vw
}

#HomeButton {
    // height: 200%;
    // width: 200%
    // size: 35;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Display {
    border-radius: 5px;
}

.chart {
    height: 20vh;
    width: 90vw;
    border-radius: 8px;
}
// testing github account change